@{
    ViewData["Title"] = "Sobre o projeto";
}
<div class="container" style="text-align: center;">
     <img src="~/img/logo-tarefas.png" alt="Logomarca da empresa" width="200" height="200"> 
    <p>Pequena aplicação Web (to-do list) desenvolvida em C# ASP.NET MVC</p>
</div>
